/ejemplos-IDE/Ejemplo03/nbproject/private/
/ejemplos-IDE/Ejemplo03/build/
/ejemplos-IDE/Ejemplo04/nbproject/private/
/ejemplos-IDE/Ejemplo04/build/
/ejemplos-IDE/Ejemplo05/nbproject/private/
/ejemplos-IDE/Ejemplo05/build/
/ejemplos-IDE/Ejemplo02/nbproject/private/
/ejemplos-IDE/Ejemplo02/build/
